asgiref==3.8.1
distlib==0.3.9
Django==4.2
django-bootstrap5==25.1
filelock==3.16.1
pillow==11.1.0
platformdirs==4.3.6
sqlparse==0.5.3
tzdata==2025.1
virtualenv==20.29.1
reportlab==4.3.1 
pymupdf==1.25.5
fitz==0.0.1.dev2
