{% extends "core/base.html" %}
{% load static %}

{% block stylesheets %}
<link rel="stylesheet" type="text/css" href="{% static '/orden/css/ordenes.css' %}">
{% endblock stylesheets %}
{% block content %}
<div class="container my-3">    
    <div class="header d-flex justify-content-between align-items-center mb-2">
        <div class="texto d-flex flex-column w-100">
            <h3 class="fw-bolder m-0">Ordenes</h3>
            <p class="text-body-secondary">Gestiona todas las ordenes del taller</p>
        </div>
        <form method="get" class="d-flex w-100 gap-3 align-items-end">
            <!-- Búsqueda por cliente o vehículo -->
            <div class="input-group w-75" style="margin-left: auto;">
                <input type="text" class="form-control" name="search" placeholder="Buscar por vehículo o cliente" value="{{ request.GET.search }}">
                <span class="input-group-text"><i class="fa-solid fa-magnifying-glass"></i></span>
            </div>
        </form>
    </div>

    <!-- Tabla de órdenes -->
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Cliente</th>
                <th scope="col">Vehículo</th>
                <th scope="col">Cobertura</th>
                <th scope="col">Estado</th>
                <th scope="col">Pago</th>
                <th scope="col">Creación</th>
                <th scope="col">Detalles</th>
            </tr>
        </thead>
        <tbody>
            {% for orden in ordenesActivas %}
                <tr>
                    <th scope="row">{{ orden.cliente }}</th>
                    <td>{{ orden.vehiculo }}</td>
                    <td>{{ orden.cobertura }}</td>
                    <td class="estado-orden {% if orden.get_estado_display != 'Entregado' %}orden-activa{% else %}orden-terminada{% endif %}"><span>{{ orden.get_estado_display }}</span></td>
                    <td class='{% if orden.monto_restante == 'Pago completo' %}orden-pagada{%else%}orden-no-pagada{% endif %}'><p>{{ orden.monto_restante }}</p></td>
                    <td>{{ orden.created|date:'d/m/Y' }}</td>
                    <td><a href="{% url 'orden:detail' orden.codigo %}" class="link-offset-2 link-underline link-underline-opacity-0">Ver detalles</a></td>
                </tr>
            {% empty %}
                <tr><td colspan="12" class="text-center">No se encontraron órdenes que coincidan con los criterios de búsqueda.</td></tr>
            {% endfor %}
        </tbody>
    </table>
    <!-- Tabla de órdenes -->
    <table class="table table-striped mt-5">
        <thead>
            <tr>
                <th scope="col">Cliente</th>
                <th scope="col">Vehículo</th>
                <th scope="col">Cobertura</th>
                <th scope="col">Estado</th>
                <th scope="col">Pago</th>
                <th scope="col">Creación</th>
                <th scope="col">Detalles</th>
            </tr>
        </thead>
        <tbody>
            {% for orden in ordenesTerminadas %}
                <tr>
                    <th scope="row">{{ orden.cliente }}</th>
                    <td>{{ orden.vehiculo }}</td>
                    <td>{{ orden.cobertura }}</td>
                    <td class="estado-orden {% if orden.get_estado_display != 'Entregado' %}orden-activa{% else %}orden-terminada{% endif %}"><span>{{ orden.get_estado_display }}</span></td>
                    <td class='{% if orden.monto_restante == 'Pago completo' %}orden-pagada{%else%}orden-no-pagada{% endif %}'><p>{{ orden.monto_restante }}</p></td>
                    <td>{{ orden.created|date:'d/m/Y' }}</td>
                    <td><a href="{% url 'orden:detail' orden.codigo %}" class="link-offset-2 link-underline link-underline-opacity-0">Ver detalles</a></td>
                </tr>
            {% empty %}
                <tr><td colspan="12" class="text-center">No se encontraron órdenes que coincidan con los criterios de búsqueda.</td></tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock content %}
