{% load static %}
<link rel="stylesheet" type="text/css" href="{% static '/orden/timeline.css' %}">
<div id="timeline-container">
    <div class="timeline-header">
        <h5 class="card-title fw-bold d-flex gap-1 align-items-center"><i class="fa-solid fa-list-check"></i> Progreso</h5>
        <div class="d-flex gap-2">
            {% if anterior_estado %}
            <a href="{% url 'orden:cambiar_estado' orden.codigo anterior_estado %}" class="btn-estado estado-anterior"><i class="fa-solid fa-arrow-left"></i>Anterior</a>
            {% endif %}
            
            {% if siguiente_estado %}
            <a href="{% url 'orden:cambiar_estado' orden.codigo siguiente_estado %}" class="btn-estado estado-siguiente">Siguiente<i class="fa-solid fa-arrow-right"></i></a>
            {% endif %}
        </div>
    </div>
    <hr>
    <ul class="timeline">           
        {% for clave, valor in estados_dict.items %}
            <li class="timeline-item {% if clave == orden.estado %}active{% endif %}" data-estado="{{ clave }}">
                <p class="fw-bold">{{ valor }}</p>
            </li>
        {% endfor %}
    </ul>
    
    
</div>
