{% extends "core/base.html" %}
{% load humanize %}

{% load static %}
{% block content %}

<script>
    function toggleZoom(img) {
        const overlay = document.querySelector('.overlay');  // Fondo oscuro
        // Si se hace clic en el overlay (fondo oscuro), se cierra la imagen
        if (img === null) {
            const zoomedImages = document.querySelectorAll('.zoomed');
            zoomedImages.forEach(function(image) {
                image.classList.remove('zoomed');  // Quita el zoom
            });
            overlay.classList.remove('active');  // Quita el fondo oscuro
        } else {
            // Si la imagen tiene la clase 'zoomed', se cierra
            if (img.classList.contains('zoomed')) {
                img.classList.remove('zoomed');
                overlay.classList.remove('active');
            } else {
                // Si la imagen no tiene zoom, se aplica el zoom
                img.classList.add('zoomed');
                overlay.classList.add('active');
            }
        }
    }
</script>







<link rel="stylesheet" type="text/css" href="{% static '/orden/css/ver_orden.css' %}">
<div class="container my-3">
    <div class="header d-flex justify-content-between align-items-center">
        <div class="texto d-flex flex-column">
            <h3 class="fw-bolder m-0">Orden de {{orden.cliente}} - {{orden.cobertura}}</h3>
            <p class="text-body-secondary">Gestiona todas las ordenes del taller</p>
        </div>
        <div class="d-flex flex-row gap-2">
            <a href='{% url 'orden:crear_servicio' orden.codigo %}'>
                <button type="button" class="btn btn-primary">Añadir servicio</button>
            </a>

            <a href=''>
                <button type="button" class="btn btn-success">Añadir pago</button>
            </a>
            
            <a href='{% url 'orden:delete' orden.codigo %}'>
                <button type="button" class="btn btn-danger"><i class="fa-solid fa-trash"></i></button>
            </a>
        </div>
    </div>
    <div class="d-flex gap-3 flex-row mb-5 flex-wrap h-100 justify-content-between">

         
        <div class="card p-2 w-100">
            <div class="card-body">
                {% include "orden/includes/timeline.html" %}
            </div>
        </div>
        <div class="w-100 d-flex gap-2 flex-row">
            <!-- Lado izquierdo -->
            <div class="left d-flex flex-column h-100 justify-content-between gap-3">
                <!-- DATOS PERSONALES -->
                <div class="card p-2 flex-grow-1">
                    <div class="card-body">
                        <h5 class="card-title fw-bold my-2 d-flex gap-2 align-items-center"><i class="fa-solid fa-user"></i> Datos del cliente</h5>
                        <div class="d-flex">
                            <div class="w-100 py-2">
                                <label for="id_nombre">Nombre</label>
                                <p class="m-0 fw-bold">{{ orden.cliente.nombre }}</p>
                            </div>
                            <div class="w-100 py-2 d-flex flex-column">
                                <label for="id_nombre">Telefono</label>
                                <a class="m-0 fw-bold text-decoration-none" href='https://wa.me/{{ orden.cliente.telefono }}' target='_blank'>{{ orden.cliente.telefono }}</a>
                            </div>
                            <div class="w-100 py-2">
                                <label for="id_nombre">Email</label>
                                <p class="m-0 fw-bold">{{ orden.cliente.email }}</p>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- DATOS DEL VEHICULO -->
                <div class="card p-2 flex-grow-1">
                    <div class="card-body">
                        <h5 class="card-title fw-bold my-2 d-flex gap-2 align-items-center"><i class="fa-solid fa-car"></i> Datos del vehiculo</h5>
                        <div class="d-flex justify-content-between gap-2">
                            <div class="w-50">
                                <label for="id_marca">Marca</label>
                                <p class="m-0 fw-bold">{{ orden.vehiculo.marca }}</p>
                            </div>
                            <div class="w-50">
                                <label for="id_modelo">Modelo</label>
                                <p class="m-0 fw-bold">{{ orden.vehiculo.modelo }}</p>
                            </div>
                            <div class="w-50">
                                <label for="id_patente">Patente</label>
                                <p class="m-0 fw-bold">{{ orden.vehiculo.patente }}</p>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- SERVICIOS DEL VEHICULO -->
                <div class="card p-2 flex-grow-1">
                    <div class="card-body">
                        <h5 class="card-title fw-bold my-2 d-flex gap-2 align-items-center"><i class="fa-solid fa-screwdriver-wrench"></i> Servicios</h5>
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Servicio</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for servicio in servicios %}
                                    <tr>
                                        <th scope="row">{{ servicio.id }}</th>
                                        <td>{{ servicio.servicio }}</td>
                                    </tr>
                                {% empty %}
                                    <tr><td colspan="2" class="text-center">No se encontraron servicios.</td></tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <!-- Lado derecho: Datos del cliente y vehículo -->
            <div class="right">
                <!-- PAGO -->
                <div class="card py-2 px-2 flex-grow-1 h-100">
                    <div class="card-body">
                        <h4 class="card-title fw-bold my-2 d-flex gap-1 align-items-center">Resumen de pago</h4>
                        <div class="d-flex w-100 flex-column contenedor-pago">
                            <div class="d-flex w-100 fw-bold justify-content-between top">
                                <p>Total a pagar</p>
                                <p>{% if presupuesto %}${{ presupuesto.monto|floatformat:0|intcomma }}{% else %}${% endif %}</p>
                            </div>
                            <div class="mid">
                                <p>Pagos realizados</p>
                                <ul>
                                    <li>$</li>
                                </ul>
                            </div>
                            <div class="w-100 fw-bold bottom">
                                <hr>
                                <div class="d-flex flex-row justify-content-between">
                                    <p>Restante</p>
                                    <p class="text-danger">$</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card py-2 px-2 flex-grow-1 h-100">
                    <div class="card-body">
                        <h5 class="card-title fw-bold my-2 d-flex gap-2 align-items-center"><i class="fa-regular fa-file"></i> Presupuesto</h5>
                        {% if presupuesto %}
                            <div class="d-flex w-100 flex-column">
                                <div class="d-flex flex-row justify-content-between ">
                                    <p class="text-body-secondary mb-0">Fecha de creación</p>
                                    <p class="mb-0">{{presupuesto.created|date:'d/m/Y'}}</p>
                                </div>
                                <div class="d-flex flex-row justify-content-between">
                                    <p class="text-body-secondary">Monto</p>
                                    <p>${{ presupuesto.monto|floatformat:0|intcomma }}</p>
                                </div>
                                <div class="d-flex flex-row justify-content-end gap-2">
                                    <a href="" class="btn btn-primary btn-presupuesto"><i class="fa-solid fa-download"></i></a>
                                    <a href="{% url 'orden:eliminar_presupuesto' orden.codigo %}" class="btn btn-danger btn-presupuesto"><i class="fa-solid fa-trash"></i></a>
                                </div>
                            </div>
                        {% else %}
                            <a href='{% url 'orden:crear_presupuesto' orden.codigo %}'>
                                <button type="button" class="btn-presupuestar">Presupuestar</button>
                            </a>
                        {% endif %}
                        
                    </div>
                </div>
            </div>
        </div>
        

        <div class="card p-2 w-100">
            <div class="card-body">
                <h5 class="card-title fw-bold my-2 d-flex gap-2 align-items-center"><i class="fa-solid fa-file"></i> Imagenes del vehiculo</h5>
                <div class="d-flex justify-content-between flex-wrap gap-2">
                    <div class="w-100 galeria">
                        {% for imagen in imagenes %}
                            <img src="{{ imagen.imagen.url }}" 
                                 alt="Imagen de la orden" 
                                 class="img-fluid rounded galeria-imagen" 
                                 onclick="toggleZoom(this)">
                        {% empty %}
                            <p>No hay imágenes disponibles para esta orden.</p>
                        {% endfor %}
                    </div>
                    
                    <!-- Fondo oscuro (overlay) -->
                    <div class="overlay" onclick="toggleZoom(null)">
                    </div>
                            
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}